body, h6, h5, h4, h3, h2, h1 {
  font-family: "Roboto", sans-serif;
}

.field--name-body figcaption a,
.field--name-body figcaption a.ext, .nav-tabs > li > a, .label {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-weight: 400;
}

.nav-tabs > li > a, .label {
  font-weight: 700;
}

h6, h5, h4, h3, h2, h1 {
  font-weight: 900;
}

h1 {
  color: #333333;
  line-height: 40px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
    line-height: 32px;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 32px;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 24px;
  }
}

h3 {
  font-size: 2rem;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.6rem;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1.4rem;
    line-height: 16px;
  }
}

h5 {
  font-size: 1.4rem;
  line-height: 16px;
}
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 1.3rem;
  }
}

h6 {
  font-size: 1.1rem;
  line-height: 13px;
}
@media only screen and (max-width: 768px) {
  h6 {
    font-size: 1rem;
  }
}

body {
  font-size: 1.6rem;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 20px;
  }
}

.nav-tabs > li > a, .label {
  font-size: 1.4rem;
  line-height: 16px;
  text-transform: capitalize;
}

svg.ext {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

h3 svg.ext {
  display: none !important;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

.dialog-off-canvas-main-canvas {
  overflow: hidden;
}

.main-container {
  min-height: calc(100vh - 435px);
}

body.toggled {
  right: 0;
}
body.toggled .btn-close {
  width: 38px;
  height: 38px;
  right: 320px;
  top: 0;
  z-index: 1001;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
}
body.toggled .btn-close:before, body.toggled .btn-close:after {
  height: 4px;
  background-color: #000000;
}

.field--name-body figcaption a,
.field--name-body figcaption a.ext {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .block-simple-blockundrrlogo img {
    object-fit: cover;
    width: 175px;
    height: 48px;
    object-position: 0% 50%;
  }
}

