.we-mega-menu-ul li > a {
  font-family: "Roboto Condensed", sans-serif;
}

.we-mega-menu-ul li li a, .we-mega-menu-ul li > a {
  font-weight: 700;
}

.mega-menu-featured-block .mega-menu-layout-main .field--name-field-title {
  font-weight: 900;
}

.navbar-we-mega-menu .container-fluid {
  padding: 0;
}
.navbar-we-mega-menu .block-block-content {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.ico-arrow-white,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:after {
  width: 0.6875rem;
  height: 0.6875rem;
  display: inline-block;
}

.ico-arrow-white,
.we-mega-menu-toolbar .we-mega-menu-btn-break-col:after {
  background-image: url("../images/ico-arrow-white.png");
}

.we-mega-menu-row {
  margin-left: -1.06383%;
  margin-right: -1.06383%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.we-mega-menu-row > * {
  flex: 0 0 97.87234%;
  max-width: 97.87234%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 1.06383%;
  margin-right: 1.06383%;
}

@media (min-width: 992px) {
  .navbar-we-mega-menu .dropdown-menu {
    position: relative;
  }
  .navbar-we-mega-menu .nav-tabs {
    border-bottom: 0 none;
  }
  .navbar-we-mega-menu .nav-tabs > .we-mega-menu-li > .we-megamenu-nolink,
.navbar-we-mega-menu .nav-tabs > .we-mega-menu-li > .we-mega-menu-li {
    padding: 2rem;
  }
  .navbar-we-mega-menu .nav-tabs > .we-mega-menu-li > .we-megamenu-nolink:focus, .navbar-we-mega-menu .nav-tabs > .we-mega-menu-li > .we-megamenu-nolink:hover,
.navbar-we-mega-menu .nav-tabs > .we-mega-menu-li > .we-mega-menu-li:focus,
.navbar-we-mega-menu .nav-tabs > .we-mega-menu-li > .we-mega-menu-li:hover {
    background-color: #dde8f0;
  }
  .navbar-we-mega-menu .we-mega-menu-group > a {
    padding-right: 0.625rem;
  }
  .navbar-we-mega-menu .we-mega-menu-group > a:before, .navbar-we-mega-menu .we-mega-menu-group > a:after {
    display: none;
  }
  .navbar-we-mega-menu .we-mega-menu-group > .we-mega-menu-submenu {
    display: block !important;
    position: static;
    padding: 0;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .we-mega-menu-submenu-inner ul a {
    padding: 5px 0px;
  }
  .we-mega-menu-ul {
    position: relative;
    margin: 0;
    border-bottom: 0 none;
    padding: 0;
  }
  .we-mega-menu-ul .dropdown-menu {
    margin-top: 0;
  }
  .we-mega-menu-ul .we-mega-menu-li {
    padding: 0;
    position: static;
  }
  .we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu {
    visibility: hidden;
    opacity: 0;
  }
  .we-mega-menu-col {
    transition: all 0.1s ease;
    min-height: 1.875rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
  }
  .we-mega-menu-submenu {
    position: absolute;
    z-index: 99;
    transition: all 0.1s ease;
    min-width: 12.5rem;
  }
  .we-mega-menu-submenu li.we-mega-menu-li {
    display: block;
    float: none;
  }
  .we-mega-menu-submenu li.we-mega-menu-li:last-child {
    margin-bottom: 0;
  }
  .we-mega-menu-submenu ul {
    margin: 0;
  }
  .we-mega-menu-submenu .we-mega-menu-submenu {
    top: 0;
    left: 100%;
    margin: 0;
    min-width: 12.5rem;
  }
  .we-mega-menu-submenu .we-mega-menu-submenu .dropdown-menu {
    min-width: initial;
  }
}
.navbar-we-mega-menu.admin {
  float: left;
  width: 70%;
  padding-right: 20px;
}
.navbar-we-mega-menu.admin .we-mega-menu-ul > .we-mega-menu-li > a.we-mega-menu-li {
  min-width: 10.625rem;
}
.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > a:before, .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > a:after {
  display: none;
}
.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > span:before, .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > span:after {
  display: none;
}

@media (min-width: 992px) {
  .navbar-we-mega-menu > .container-fluid {
    box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.31);
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > a,
.navbar-we-mega-menu[data-autoarrow="0"]:not(.admin) .dropdown-menu > span {
    padding-right: 1.5625rem;
  }
  .we-mega-menu-submenu .we-mega-menu-submenu {
    margin-left: 0;
  }
  .we-mega-menu-ul {
    display: flex;
  }
  .we-mega-menu-ul > .we-mega-menu-li {
    display: flex;
  }
  .we-mega-menu-ul > .we-mega-menu-li > a,
.we-mega-menu-ul > .we-mega-menu-li .we-megamenu-nolink {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu, .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .we-mega-menu-ul .dropdown-menu .dropdown-menu:first-child > .we-mega-menu-submenu {
    margin-top: -1rem;
  }
  .we-mega-menu-ul > .we-mega-menu-li a:hover, .we-mega-menu-ul > .we-mega-menu-li a:focus {
    text-decoration: none;
  }
  .we-mega-menu-ul > .dropdown-menu {
    z-index: 21;
  }
  .we-mega-menu-ul > .dropdown-menu:first-child > .we-mega-menu-submenu {
    margin-left: 0;
  }
  .we-mega-menu-ul > .dropdown-menu[class*=hidden-collapse] > a {
    padding-right: 1.5625rem;
  }
  .navbar-we-mega-menu .we-mega-menu-group > .we-mega-menu-submenu {
    padding: 0;
  }
  .navbar-we-mega-menu .we-mega-menu-group > .we-mega-menu-submenu li:first-child > a,
.navbar-we-mega-menu .we-mega-menu-group > .we-mega-menu-submenu li:first-child > span {
    padding-top: 0.5rem;
  }
  .navbar-we-mega-menu a i {
    margin-right: 0.1875rem;
  }
  .navbar-we-mega-menu .we-mega-menu-col > * {
    padding: 0;
  }
  .we-mega-menu-col {
    border: 0 none;
    background-color: transparent;
  }
  .we-mega-menu-group .we-mega-menu-col {
    margin-top: 0;
    margin-bottom: 0;
  }
  .we-mega-menu-submenu {
    z-index: 20;
    top: 100%;
    left: 0;
    margin-left: -0.0625rem;
    margin-top: -0.0625rem;
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
    background-color: #fff;
  }
  .we-mega-menu-submenu > .we-mega-menu-submenu-inner {
    min-height: 11.25rem;
  }
  .we-mega-menu-submenu .we-mega-menu-li a {
    font-weight: 700;
    font-size: 0.81rem;
    padding: 0.5rem 0;
    background-color: transparent;
  }
  .we-mega-menu-submenu .we-mega-menu-li span {
    font-weight: 700;
    font-size: 0.8125rem;
    padding: 0.5rem 0;
    background-color: transparent;
    display: block;
    margin-right: 2px;
  }
  .we-mega-menu-submenu .we-mega-menu-li:first-child > a,
.we-mega-menu-submenu .we-mega-menu-li:first-child > span {
    padding-top: 0;
  }
  .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:hover, .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:focus {
    position: static;
  }
  .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu, .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu.clicked {
    position: relative;
  }
  .navbar-we-mega-menu.click-action .we-mega-menu-ul .dropdown-menu.clicked > .we-mega-menu-submenu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991px) {
  body {
    padding-left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-right: 0;
  }
  body.toggled {
    right: 250px;
  }
  body.toggled .btn-close {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .btn-close {
    opacity: 0;
    visibility: hidden;
    display: none;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    position: fixed;
    right: 270px;
    top: 15px;
    width: 48px;
    height: 48px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    animation-fill-mode: both;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-name: fadeInFromNone;
    animation-delay: 0.5s;
  }
  .btn-close:before, .btn-close:after {
    content: "";
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
  }
  .btn-close:before {
    margin-top: -1px;
    transform: rotate(45deg);
  }
  .btn-close:after {
    margin-top: -1px;
    transform: rotate(-45deg);
  }
  .region-we-mega-menu {
    padding: 13px 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-toggle {
    z-index: 20;
    background: none;
    border: 0 none;
    float: none;
    padding: 13px;
    margin: 0;
    cursor: pointer;
  }
  .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background: none;
  }
  .navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background: #ebebeb;
  }
  .overlay {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
  }
  .nav .open > a {
    background: none;
  }
  .nav .open > a:hover, .nav .open > a:focus {
    background: none;
  }
  .navbar-we-mega-menu .we-mega-menu-row {
    margin-left: 0;
    margin-right: 0;
    display: block;
    max-width: inherit;
  }
  .navbar-we-mega-menu .we-mega-menu-row > * {
    display: block;
    margin-left: 0;
    margin-right: 0;
    max-width: inherit;
  }
  .navbar-we-mega-menu .hidden-collapse {
    display: none !important;
  }
  .navbar-we-mega-menu .type-of-block {
    display: none;
  }
  .we-mega-menu-submenu {
    width: auto !important;
  }
  .we-mega-menu-li.dropdown-menu:not(.active) .we-mega-menu-submenu {
    display: none;
  }
  .navbar-we-mega-menu.navbar {
    bottom: 0;
    display: none;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    right: -250px;
    width: 250px;
    top: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
  }
  .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
    right: 0;
    display: block;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: slideInRight;
  }
  .navbar-we-mega-menu.navbar .container,
.navbar-we-mega-menu.navbar .container-fluid {
    padding: 0;
    position: static;
    width: auto;
  }
  .navbar-we-mega-menu.navbar .nav-tabs > li > a,
.navbar-we-mega-menu.navbar .nav-tabs > li > .we-megamenu-nolink {
    margin-right: 0;
    position: relative;
  }
  .navbar-we-mega-menu.navbar .dropdown-menu {
    position: static;
    min-width: inherit;
    padding: 0;
    margin: 0;
  }
  .navbar-we-mega-menu.navbar .dropdown-menu > a,
.navbar-we-mega-menu.navbar .dropdown-menu > .we-megamenu-nolink {
    padding-right: 1.875rem;
  }
  .navbar-we-mega-menu.navbar .dropdown-menu > a:after,
.navbar-we-mega-menu.navbar .dropdown-menu > .we-megamenu-nolink:after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -11px;
    font-size: 22px;
  }
  .navbar-we-mega-menu.navbar .nav-tabs .dropdown-menu {
    margin-top: 0;
  }
  .navbar-we-mega-menu.navbar .we-mega-menu-ul > li > a,
.navbar-we-mega-menu.navbar .we-mega-menu-ul > li > .we-megamenu-nolink {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-we-mega-menu.navbar ul {
    padding: 0;
    margin: 0;
    border: 0 none;
  }
  .navbar-we-mega-menu.navbar ul a,
.navbar-we-mega-menu.navbar ul .we-megamenu-nolink {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .navbar-we-mega-menu.navbar ul a.is-active,
.navbar-we-mega-menu.navbar ul .we-megamenu-nolink.is-active {
    color: white;
    background-color: #1a1a1a;
  }
  .navbar-we-mega-menu.navbar ul > li {
    display: block;
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar-we-mega-menu.navbar ul > li:last-child {
    border-bottom: none;
  }
  .navbar-we-mega-menu.navbar ul > li ul {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .navbar-we-mega-menu.navbar ul > li ul li {
    border-bottom: 0;
  }
  .navbar-we-mega-menu.navbar ul > li ul li a,
.navbar-we-mega-menu.navbar ul > li ul li .we-megamenu-nolink {
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 1;
  }
  .navbar-we-mega-menu.navbar ul .expanded > a,
.navbar-we-mega-menu.navbar ul .expanded > .we-megamenu-nolink {
    position: relative;
  }
  .navbar-we-mega-menu.navbar ul .expanded > a:before,
.navbar-we-mega-menu.navbar ul .expanded > .we-megamenu-nolink:before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    line-height: 1.3;
    text-align: right;
  }
}
[dir=rtl] .we-mega-menu-submenu li.we-mega-menu-li {
  float: none;
}

@media (min-width: 992px) {
  [dir=rtl] .we-mega-menu-submenu {
    left: auto;
    right: 0;
  }
}
@media (max-width: 991px) {
  [dir=rtl] body {
    left: 0;
    right: auto;
  }
  [dir=rtl] body.toggled {
    left: 15.625rem;
    right: auto;
  }
  [dir=rtl] .navbar-we-mega-menu.navbar {
    left: -15.625rem;
    right: auto;
  }
  [dir=rtl] .navbar-we-mega-menu.navbar .dropdown-menu > a:after {
    right: auto;
    left: 0.9375rem;
  }
  [dir=rtl] .navbar-we-mega-menu.navbar ul > li ul {
    padding-left: 0;
    padding-right: 1.875rem;
  }
  [dir=rtl] body.toggled .navbar-we-mega-menu.navbar {
    right: auto;
    left: 0;
  }
}
.active.dropdown-menu > a,
.active-trail.dropdown-menu > a {
  background-color: #6093bd;
  color: #ffffff;
}
.active.dropdown-menu > a:hover,
.active-trail.dropdown-menu > a:hover {
  color: #000000;
}

.we-mega-menu-submenu {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #004f91;
  box-shadow: -0.5px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.we-mega-menu-submenu-inner {
  margin: 0 auto;
}

.we-mega-menu-row {
  min-height: 380px;
  margin: 0;
}

.we-mega-menu-ul {
  margin: 0 auto;
  position: inherit;
}
.we-mega-menu-ul li {
  margin: 0;
  border: none;
  position: inherit;
}
.we-mega-menu-ul li > a {
  font-size: 1.8rem;
  text-transform: none;
  color: #333333;
}
.we-mega-menu-ul li > a:before {
  display: none;
}
.we-mega-menu-ul li ul {
  padding: 2rem 1.5rem;
}
.we-mega-menu-ul li li {
  display: inline-block;
  width: 100%;
}
.we-mega-menu-ul li li a {
  font-size: 1.7rem;
  color: #000000;
  white-space: normal;
}
.we-mega-menu-ul li li a:hover {
  color: #106cb8;
}

.we-mega-menu-col {
  margin: 0;
}
.we-mega-menu-col.span1 {
  flex: 8.33333%;
  max-width: 8.33333%;
}
.we-mega-menu-col.span2 {
  flex: 16.66667%;
  max-width: 16.66667%;
}
.we-mega-menu-col.span3 {
  flex: 25%;
  max-width: 25%;
}
.we-mega-menu-col.span4 {
  flex: 33.33333%;
  max-width: 33.33333%;
}
.we-mega-menu-col.span5 {
  flex: 41.66667%;
  max-width: 41.66667%;
}
.we-mega-menu-col.span6 {
  flex: 50%;
  max-width: 50%;
}
.we-mega-menu-col.span7 {
  flex: 58.33333%;
  max-width: 58.33333%;
}
.we-mega-menu-col.span8 {
  flex: 66.66667%;
  max-width: 66.66667%;
}
.we-mega-menu-col.span9 {
  flex: 75%;
  max-width: 75%;
}
.we-mega-menu-col.span10 {
  flex: 83.33333%;
  max-width: 83.33333%;
}
.we-mega-menu-col.span11 {
  flex: 91.66667%;
  max-width: 91.66667%;
}
.we-mega-menu-col.span12 {
  flex: 100%;
  max-width: 100%;
}

.mega-menu-search input {
  box-shadow: none;
  width: calc(100% - 40px);
}
.mega-menu-search button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  float: right;
  border: none;
}

.mega-menu-featured-block {
  display: none;
  height: 380px;
}
.mega-menu-featured-block .mega-menu-layout-main {
  min-height: 380px;
  background-color: #004f91;
  position: relative;
}
.mega-menu-featured-block .mega-menu-layout-main .mega-menu-content-wrapper {
  padding: 2rem 2.5rem 0;
  color: #ffffff;
}
.mega-menu-featured-block .mega-menu-layout-main .field--name-field-title {
  font-size: 3rem;
  line-height: 1.4;
}
.mega-menu-featured-block .mega-menu-layout-main .field--name-field-description {
  margin: 20px 0 40px 0;
  font-size: 1.8rem;
}
.mega-menu-featured-block .mega-menu-layout-main .field--name-field-link a {
  padding: 10px 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 1.4rem;
}
.mega-menu-featured-block .mega-menu-layout-main .field--name-field-link a:hover {
  border: 1px solid #9abbd6;
  background-color: #9abbd6;
  box-shadow: 0 0 6px 0 rgba(51, 51, 51, 0.5);
}
.mega-menu-featured-block .mega-menu-layout-main .field--name-field-link a:focus {
  border: 1px solid #9abbd6;
  background-color: #9abbd6;
  box-shadow: 0 0 6px 0 rgba(51, 51, 51, 0.5);
  border: solid #6093bd;
}

@media (max-width: 991px) {
  .region-we-mega-menu {
    background-color: #ffffff;
    padding: 0 15px 0 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.31);
  }
  .region-we-mega-menu .navbar-toggle {
    display: block;
    color: #333333;
  }
  .region-we-mega-menu .navbar-toggle .icon-bar {
    width: 18px;
    height: 3px;
    background-color: #333333;
  }
  .region-we-mega-menu .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
  }
  .region-we-mega-menu .navbar-toggle:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    content: "MENU";
    font-family: "Roboto";
    font-weight: 500;
  }
  .navbar-we-mega-menu {
    width: 320px;
    background: #ffffff;
  }
  .navbar-we-mega-menu .we-mega-menu-ul {
    width: auto;
    margin: 2px 0 0 0;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul {
    width: 100%;
    padding: 0;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li {
    display: block;
    width: auto;
    clear: both;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li > a {
    padding: 5px 15px 5px 37px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li > a.is-active {
    background: #dde8f0;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li:hover {
    background: #dde8f0;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li.dropdown .dropdown-toggle {
    padding: 5px 15px 5px 32px;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li.dropdown .dropdown-toggle .caret {
    display: none;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li.dropdown .dropdown-toggle:after {
    width: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10px;
    right: auto;
    content: "\f0fe";
    font-family: "FontAwesome";
    font-size: 1.6rem;
    color: #6093bd;
    transform: translateY(-50%);
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li.dropdown.open .dropdown-toggle {
    color: #000000 !important;
    background: #dde8f0;
    border: none;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li.dropdown.open .dropdown-toggle:after {
    content: "\f146";
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul li.dropdown.first {
    margin: 0 10px 0 30px;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li ul .dropdown-menu li > a {
    padding: 5px 15px 5px 32px;
    font-weight: 400;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home > a {
    padding: 10px 15px 10px 10px;
    font-size: 1.4rem;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home > a .fa-home {
    margin: 0 5px 0 0;
    color: #6093bd;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home.active > a .fa-home, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home.active-trail > a .fa-home {
    color: #ffffff;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home.active > a:hover, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home.active-trail > a:hover {
    color: #000000 !important;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home.active > a:hover .fa-home, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.we-mega-menu-home.active-trail > a:hover .fa-home {
    color: #6093bd !important;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu > a, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.we-megamenu-nolink {
    padding: 10px 15px 10px 37px;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu > a:after, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.we-megamenu-nolink:after {
    width: 18px;
    margin: 0;
    top: 50%;
    left: 12px;
    right: auto;
    content: "\f0fe";
    font-family: "FontAwesome";
    font-size: 1.6rem;
    color: #6093bd;
    transform: translateY(-50%);
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active > a .fa-home, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active-trail > a .fa-home {
    color: #ffffff;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active > a:after, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active-trail > a:after {
    color: #ffffff;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active > a:hover, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active-trail > a:hover {
    color: #000000 !important;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active > a:hover .fa-home, .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.active-trail > a:hover .fa-home {
    color: #6093bd !important;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.open > a {
    color: #000000 !important;
    background: #dde8f0;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li.dropdown-menu.open > a:after {
    color: #6093bd;
    content: "\f146";
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li > a {
    padding: 10px 15px;
    border: none;
    font-size: 1.4rem;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li .we-mega-menu-submenu > .we-mega-menu-submenu-inner {
    width: auto;
  }
  .navbar-we-mega-menu .we-mega-menu-ul.nav > li .we-mega-menu-submenu .we-mega-menu-row {
    min-height: auto;
  }
  .we-mega-menu-col {
    width: 100%;
  }
  .we-mega-menu-col.span1, .we-mega-menu-col.span2, .we-mega-menu-col.span3, .we-mega-menu-col.span4, .we-mega-menu-col.span5, .we-mega-menu-col.span6, .we-mega-menu-col.span7, .we-mega-menu-col.span8, .we-mega-menu-col.span9, .we-mega-menu-col.span10, .we-mega-menu-col.span11, .we-mega-menu-col.span12 {
    flex: 100%;
    max-width: none;
  }
  .we-mega-menu-col .type-of-block {
    display: inline-block;
    width: 100%;
  }
  .mega-menu-search .form-container {
    display: block !important;
  }
  .mega-menu-search .form-container input {
    width: calc(100% - 60px);
    margin: 0px 0px 10px 10px;
  }
  .mega-menu-search .form-container button {
    margin: 0px 10px 10px 0px;
  }
  .mega-menu-search .search-collapsed {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-we-mega-menu .we-mega-menu-ul {
    width: 964px;
  }
  .navbar-we-mega-menu .we-mega-menu-ul .we-mega-menu-submenu-inner {
    width: 964px;
  }
  .navbar-we-mega-menu .we-mega-menu-ul li.dropdown.open .dropdown-toggle {
    background-color: transparent;
  }
  .navbar-we-mega-menu .we-mega-menu-ul li.dropdown .caret {
    display: none;
  }
  .navbar-we-mega-menu .we-mega-menu-ul li.dropdown .dropdown-menu {
    display: block;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .navbar-we-mega-menu .we-mega-menu-ul li.dropdown .dropdown-menu li > a {
    font-weight: 400;
    padding-left: 1.5rem;
  }
  .navbar-we-mega-menu section,
.navbar-we-mega-menu .field--type-text-with-summary .type-of-block,
.navbar-we-mega-menu .block-inner {
    height: 100%;
  }
  .navbar-we-mega-menu .block-block-content {
    display: block;
  }
  .navbar-we-mega-menu .mega-menu-featured-block {
    display: block;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .navbar-we-mega-menu li .we-mega-menu-submenu > .we-mega-menu-submenu-inner,
.navbar-we-mega-menu .we-mega-menu-ul {
    width: calc(1164px + 4rem);
  }
}
header > div:first-child .toolbar-myaccount .compact-menus,
header > div:first-child .toolbar-navigation .compact-menus {
  background: #333333;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  top: 60px;
  right: 0;
  z-index: 1;
}

/*# sourceMappingURL=mega-menu.css.map */
