.pagination > li > a,
.pagination > li > span {
  font-family: "Roboto Condensed", sans-serif;
}

.pagination > li:first-child > a.page-link:before,
.pagination > li:first-child > span.page-link:before, .pagination > li:last-child > a.page-link:before,
.pagination > li:last-child > span.page-link:before {
  font-family: "FontAwesome";
}

.pagination > li > a,
.pagination > li > span {
  font-weight: 700;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  margin: 4px;
  padding: 11px 18px;
  font-size: 1.4rem;
  background-color: #e3e3e3;
  border: none;
  line-height: 1.428571429;
  text-decoration: none;
  color: #106cb8;
}
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #333333;
  background-color: #dde8f0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span, .pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-left: 0;
  background: transparent;
}
.pagination > li:first-child > a:hover, .pagination > li:first-child > a:focus,
.pagination > li:first-child > span:hover,
.pagination > li:first-child > span:focus, .pagination > li:last-child > a:hover, .pagination > li:last-child > a:focus,
.pagination > li:last-child > span:hover,
.pagination > li:last-child > span:focus {
  z-index: 2;
  color: #333333;
  background-color: #dde8f0;
}
.pagination > li:first-child > a.page-link,
.pagination > li:first-child > span.page-link, .pagination > li:last-child > a.page-link,
.pagination > li:last-child > span.page-link {
  font-size: 0rem;
}
.pagination > li:first-child > a.page-link:before,
.pagination > li:first-child > span.page-link:before, .pagination > li:last-child > a.page-link:before,
.pagination > li:last-child > span.page-link:before {
  display: inline-block;
  content: "\f104";
  font-size: 2.4rem;
  color: #106cb8;
  line-height: 0.7;
}
.pagination > li:last-child > a.page-link:before, .pagination > li:last-child > span.page-link:before {
  content: "\f105";
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #333333;
  background-color: #dde8f0;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  cursor: not-allowed;
}

