.carousel-inner .simple-hero-text-column-description a {
  font-family: "Roboto Condensed", sans-serif;
}

.image-title-item-manual .field--name-field-title-hover {
  font-weight: 700;
}

.section-title,
.paragraph-title,
.simple-hero-multiple-links-title,
.simple-hero-inner-menu-title,
.simple-hero-triangle-title {
  max-width: 1164px;
  margin: 0 auto 30px auto;
  padding: 0 0 20px 0;
  position: relative;
}
.section-title:after,
.paragraph-title:after,
.simple-hero-multiple-links-title:after,
.simple-hero-inner-menu-title:after,
.simple-hero-triangle-title:after {
  display: block;
  width: 70px;
  height: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background: inherit;
  border-bottom: 3px solid;
}

@media (max-width: 992px) {
  .paracomponent.no-lateral-paddings .multiple-columns-wrapper .paragraph-type--column {
    padding-left: 15px;
    padding-right: 15px;
  }
  .paracomponent.no-lateral-paddings .multiple-columns-wrapper .paragraph-type--column:last-child, .paracomponent.no-lateral-paddings .multiple-columns-wrapper .paragraph-type--column:first-child {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .section-title,
.paragraph-title,
.simple-hero-multiple-links-title,
.simple-hero-inner-menu-title,
.simple-hero-triangle-title {
    max-width: 744px;
  }
}
@media (min-width: 992px) {
  .section-title,
.paragraph-title,
.simple-hero-multiple-links-title,
.simple-hero-inner-menu-title,
.simple-hero-triangle-title {
    max-width: 964px;
  }
}
@media (min-width: 1200px) {
  .section-title,
.paragraph-title,
.simple-hero-multiple-links-title,
.simple-hero-inner-menu-title,
.simple-hero-triangle-title {
    max-width: 1164px;
  }
}
.paracomponent {
  display: block;
}
.paracomponent.full-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.paracomponent.no-lateral-paddings.multiple-columns-wrapper .paragraph-type--column {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.paracomponent.no-lateral-paddings.multiple-columns-wrapper .paragraph-type--column:first-child {
  padding-left: 0px;
  padding-right: 15px;
}
.paracomponent.no-lateral-paddings.multiple-columns-wrapper .paragraph-type--column:last-child {
  padding-right: 0px;
  padding-left: 15px;
}
.paracomponent.no-lateral-paddings.multiple-columns-wrapper .paragraph-type--column:only-child {
  padding-left: 0px;
  padding-right: 0px;
}

.section-wrapper-centered {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.paragraph--type--simple-hero-content .paragraph {
  margin: 0 !important;
}
.paragraph--type--simple-hero-content.paragraph {
  margin: 0 !important;
}

.paragraph--type--simple-image.paragraph,
.paragraph--type--simple-image .paragraph {
  margin: 0 !important;
}
.paragraph--type--simple-image img {
  width: auto;
}

.paragraph--type--simple-hero-content-item .simple-hero-image-full {
  display: none;
}

.paragraph--type--simple-hero-content-item-image img {
  width: 100%;
}

.paragraph--type--simple-hero-content-item-links .simple-hero-mult-links-body {
  width: 80%;
  padding: 20px;
  background-color: rgba(0, 79, 145, 0.75);
  color: #ffffff;
  left: 10%;
}
.paragraph--type--simple-hero-content-item-links .simple-hero-mult-links-body .simple-hero-multiple-links-title {
  margin-bottom: 20px;
  line-height: 1.2;
}
.paragraph--type--simple-hero-content-item-links .simple-hero-mult-links-body .simple-hero-multiple-links-description {
  margin-bottom: 20px;
}

.paragraph--type--simple-hero-content-item-text .hero-content-text-column {
  height: 100%;
  bottom: 0;
}
.paragraph--type--simple-hero-content-item-text .hero-content-text-box {
  height: auto;
  bottom: 40px;
}
.paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description {
  width: 100%;
  padding: 20px 30px;
  color: #ffffff;
}
.paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.left, .paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.center, .paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.right {
  left: 0%;
}

.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-image {
  min-height: 400px;
}
.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-image .row {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto !important;
}
.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-image .row .simple-hero-inner-menu-title {
  width: 100%;
  margin: 0;
  padding: 20px 40px;
  text-align: left;
  position: absolute;
  bottom: 0;
}
.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto !important;
}
.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row .simple-hero-inner-menu-links-container {
  margin: 0;
  padding: 0;
}
.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row .simple-hero-inner-menu-links-container .simple-hero-inner-menu-links {
  padding: 20px 40px;
}
.paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row .simple-hero-inner-menu-description {
  padding: 20px 40px;
  float: left;
}

.paragraph--type--simple-hero-content-item-tri-bck .paragraph {
  margin: 0 !important;
}
.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-body {
  max-width: 80%;
  height: auto;
  margin-top: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  right: 10%;
}
.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-title {
  margin: 0;
  padding: 20px 0;
  font-size: 4.35rem;
  font-weight: 700;
  text-align: right;
  line-height: normal;
}
.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-title:after {
  right: 0;
}
.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-button {
  margin-top: 30px;
}

.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-background {
  width: 130%;
  left: 22%;
  right: -10%;
  height: 100%;
  bottom: 0;
  transform: rotate(0);
  -ms-transform: skew(-30deg, 0);
  -webkit-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
}
.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-body {
  margin-top: 0;
}
.paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-body .paragraph {
  margin: 0 !important;
}

.paragraph--type--simple-video {
  text-align: center;
}
.paragraph--type--simple-video video {
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  width: 100%;
  margin: 0;
  left: 0;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  vertical-align: top;
}
.carousel-indicators li.active {
  margin: 0 6px;
  background-color: white;
}

.carousel-inner .paragraph {
  margin: 0 !important;
}
.carousel-inner .simple-hero-text-column-description p {
  margin: 0 0 20px 0;
}
.carousel-inner .simple-hero-text-column-description a {
  padding: 10px 55px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ffffff;
}

.carousel-control {
  display: none;
}

.image-title-item-manual {
  position: relative;
}
.image-title-item-manual .field--name-field-title-hover {
  width: 100%;
  padding: 15px 24px;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 79, 145, 0.7);
  background: inherit;
}
.image-title-item-manual .field--name-field-caption {
  display: none;
}

.section-wrapper-centered {
  width: 744px;
}

.paragraph--type--simple-hero-content-item-text .hero-content-text-column,
.paragraph--type--simple-hero-content-item-text .hero-content-text-box {
  width: 50%;
}
.paragraph--type--simple-hero-content-item-text h1 {
  color: #ffffff;
}
.paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.left {
  left: 40px;
}
.paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.center {
  left: 25%;
}
.paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.right {
  right: 40px;
  left: auto;
}

.paragraph--type--simple-hero-content-item-links .simple-hero-mult-links-body {
  width: 50%;
  left: 40px;
}

.paragraph--type--simple-video video {
  width: auto;
}

.paragraph--type--simple-hero-content-item-menu .section-wrapper-centered {
  width: 100%;
}

@media (min-width: 992px) {
  .section-wrapper-centered {
    width: 964px;
  }
  .simple-hero-banner .custom-media {
    height: 400px !important;
  }
  .simple-hero-banner .custom-media img {
    width: 100%;
    min-height: auto;
  }
  .paragraph--type--simple-hero-content-item-text .hero-content-text-column,
.paragraph--type--simple-hero-content-item-text .hero-content-text-box {
    width: 33.3333%;
  }
  .paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.left {
    left: 0;
  }
  .paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.center {
    left: 50%;
    transform: translateX(-50%);
  }
  .paragraph--type--simple-hero-content-item-text .simple-hero-text-column-description.right {
    right: 0;
    left: auto;
  }
  .paragraph--type--simple-hero-content-item-links .simple-hero-mult-links-body {
    width: 33.3333%;
    left: 0;
  }
  .paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-background {
    width: 55%;
    left: auto;
    right: -17%;
  }
  .paragraph--type--simple-hero-content-item-tri-bck .simple-hero-triangle-body {
    max-width: 40%;
    right: 0;
  }
  .paragraph--type--simple-hero-content-item-menu .section-wrapper-centered {
    width: 964px;
  }
  .paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-image .row {
    width: 964px;
  }
  .paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-image .row .simple-hero-inner-menu-title {
    width: 33.3333%;
  }
  .paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row {
    width: 964px;
  }
  .paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row .simple-hero-inner-menu-links-container {
    width: 33.3333%;
  }
}
@media (min-width: 1200px) {
  .section-wrapper-centered {
    width: 1164px;
  }
  .paragraph--type--simple-hero-content-item-menu .section-wrapper-centered {
    width: 1164px;
  }
  .paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-image .row {
    width: 1164px;
  }
  .paragraph--type--simple-hero-content-item-menu .simple-hero-inner-menu-content .row {
    width: 1164px;
  }
  .carousel-control {
    display: block;
  }
  .carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 50px;
  }
}
.simple-quicklinks {
  border-left: 3px solid #106cb8;
}
.simple-quicklinks .paragraph--type--simple-links-item .simple-links-item::before {
  color: unset;
}

.component-mid-col-img {
  padding-left: 0px;
}

.component-mid-col-img img,
.component-right-col-img img {
  margin-bottom: 8px;
}

