.tabs {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 12px;
}
.tabs .nav-tabs {
  margin: 5px 0 20px 0;
  border-bottom: 4px solid #d8d8d8;
  background-color: #ffffff;
}
.tabs .nav-tabs > li {
  margin-bottom: -4px;
}
.tabs .nav-tabs > li a {
  margin: 0;
  padding: 18px 10px;
  border: none;
  color: #333333;
  font-size: 1.4rem;
  border-radius: 0;
}
.tabs .nav-tabs > li a:hover, .tabs .nav-tabs > li a:focus {
  color: #106cb8;
  background-color: #ffffff;
  box-shadow: inset 0 -4px 0 0 #6093bd;
}
.tabs .nav-tabs > li.active a {
  color: #333333;
  box-shadow: inset 0 -4px 0 0 #6093bd;
}
.tabs .nav-tabs > li.active a:hover, .tabs .nav-tabs > li.active a:focus {
  border: none;
  box-shadow: inset 0 -4px 0 0 #6093bd;
}

.paragraph--type--simple-tabs.paragraph {
  margin: 0 !important;
}
.paragraph--type--simple-tabs .tab-pane > .paracomponent {
  width: 100%;
}
.paragraph--type--simple-tabs .tab-pane > .paracomponent .multiple-columns-wrapper {
  max-width: 1164px;
  margin: 0 auto;
  float: none;
}

.simple-tabs-wrapper {
  background-color: #eef3f7;
}

.simple-tabs {
  max-width: 1164px;
  margin: 0 auto;
  border-bottom: none;
}
.simple-tabs li {
  margin-bottom: 0;
}
.simple-tabs li a {
  margin: 0;
  padding: 0 20px;
  border: none;
  color: #333333;
  font-size: 1.6rem;
  line-height: 56px;
  cursor: pointer;
  border-radius: 0;
}
.simple-tabs li a:hover, .simple-tabs li a:focus {
  color: #333333;
  background-color: #dde8f0;
}
.simple-tabs li.active a {
  color: #ffffff;
  background-color: #6093bd;
}

@media (min-width: 576px) {
  .tabs .nav-tabs li {
    width: auto;
  }
  .tabs .nav-tabs li a {
    padding: 18px 20px;
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .tabs {
    padding: 0;
  }
  .tab-pane .paracomponent .multiple-columns-wrapper,
.simple-tabs,
.tabs {
    width: 744px;
  }
}
@media (min-width: 992px) {
  .tab-pane .paracomponent .multiple-columns-wrapper,
.simple-tabs,
.tabs {
    width: 964px;
  }
}
@media (min-width: 1200px) {
  .tab-pane .paracomponent .multiple-columns-wrapper,
.simple-tabs,
.tabs {
    width: 1164px;
  }
}
.tab-pane .paracomponent .multiple-columns-wrapper {
  max-width: 100%;
}

