.st-lnk a, .st-lnk .field--item a, .st-attch-mlt .field--item .row, .st-attch a {
  display: flow-root;
}

.t-cnd, .g-lb--cnd .field--label,
.g-lb--cnd .field-group-title {
  font-family: "Roboto Condensed", sans-serif;
}

.undrr-search a.show-search:before,
.undrr-search a.hide-search:before, .st-lnk a::before, .st-lnk .field--item a::before, .st-attch-mlt .field--item .row::before, .st-attch a::before {
  font-family: "FontAwesome";
}

.g-lb--bd .field--label,
.g-lb--bd .field-group-title {
  font-weight: 700;
}

@media only screen and (max-width: 767.98px) {
  .container > .row {
    margin: 0;
  }
  .dp-il--imp {
    display: inline !important;
    clear: none !important;
  }
  .dp-il--imp::before, .dp-il--imp::after {
    display: none !important;
  }
}
.card-vertical .st-tag {
  position: relative;
  top: -24px;
}

.st-tag {
  display: inline-block;
  padding: 0px 10px 0px;
  color: #ffffff;
  line-height: 24px;
}
.st-tag a {
  color: inherit;
}
.st-tag .field--item {
  display: inline-block;
  padding: 3px 10px 3px;
  color: #ffffff;
}
.st-tag .field--item a {
  color: inherit;
}
.st-tag--mlt .field--items > .field--item {
  margin-bottom: 10px !important;
  margin-right: 10px;
  display: inline-block;
}
.st-tag--mlt .field--items > .field--item a {
  padding: 5px 10px;
  color: #ffffff;
}
.st-tag--mlt--bg-bp .field--items > .field--item a, .st-tag--mlt--bg_bp .field--items > .field--item a {
  background-color: #004f91;
}
.st-tag--mlt--bg-sg .field--items > .field--item a, .st-tag--mlt--bg_sg .field--items > .field--item a {
  background-color: #c1092d;
}
.st-tag--mlt--bg-so .field--items > .field--item a, .st-tag--mlt--bg_so .field--items > .field--item a {
  background-color: #eb752a;
}
.st-tag--mlt--bg-sp .field--items > .field--item a, .st-tag--mlt--bg_sp .field--items > .field--item a {
  background-color: #962987;
}
.st-tag--mlt--bg-st .field--items > .field--item a, .st-tag--mlt--bg_st .field--items > .field--item a {
  background-color: #00afae;
}
.st-tag--spl a {
  display: inline-block;
  padding: 0px 10px;
  color: #ffffff;
}
.st-tag--spl span {
  padding: 0px 10px;
  color: #ffffff;
  display: inline-block;
  background-color: #004f91;
}
.st-tag--spl--bg-bp a, .st-tag--spl--bg_bp a {
  background-color: #004f91;
}
.st-tag--spl--bg-sg a, .st-tag--spl--bg_sg a {
  background-color: #c1092d;
}
.st-tag--spl--bg-so a, .st-tag--spl--bg_so a {
  background-color: #eb752a;
}
.st-tag--spl--bg-sp a, .st-tag--spl--bg_sp a {
  background-color: #962987;
}
.st-tag--spl--bg-st a, .st-tag--spl--bg_st a {
  background-color: #00afae;
}
.st-sht {
  display: inline-block;
  margin-bottom: 35px;
  max-width: 100%;
  background: #dde8f0;
  padding: 16px 0 0 16px;
}
.st-sht .field-group-title {
  line-height: 1;
}
.st-sht .addtoany_list {
  padding-top: 13px;
  display: block;
  line-height: 1 !important;
}
.st-sht .addtoany_list a {
  margin: 0 16px 16px 0;
  padding: 0;
}
.st-sht .addtoany_list .a2a_svg {
  border-radius: 0 !important;
  background-color: #9abbd6 !important;
}
.st-sht .addtoany_list .a2a_svg svg {
  top: calc(50% - 10px);
  max-width: 20px;
  max-height: 20px;
}
.st-sht .addtoany_list .a2a_svg:hover {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
}
.st-attch a {
  display: block;
  color: #333333;
  position: relative;
  padding: 0 0 0 40px;
}
.st-attch a::before {
  content: "\f016";
  display: inline-block;
  color: #9abbd6;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  margin-right: 16px;
  text-decoration: none;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.st-attch a:hover::before {
  color: #004f91;
}
.st-attch-mlt .field--item {
  line-height: 1.2;
}
.st-attch-mlt .field--item .row {
  display: block;
  color: #333333;
  margin-bottom: 16px;
}
.st-attch-mlt .field--item .row > div {
  width: calc(100% - 56px);
  padding: 0;
}
.st-attch-mlt .field--item .row::before {
  content: "\f016";
  display: block;
  color: rgba(255, 255, 255, 0.56);
  width: 40px;
  height: 40px;
  background: #9abbd6;
  text-align: center;
  line-height: 40px;
  font-size: 2rem;
  float: left;
  margin-right: 16px;
  text-decoration: none;
}
.st-attch-mlt .field--item:last-child .row {
  margin-bottom: 0;
}
.st-lnk .field--item a {
  display: block;
  color: #333333;
  position: relative;
  padding: 0 0 0 35px;
}
.st-lnk .field--item a::before {
  content: "\f08e";
  display: inline-block;
  color: #9abbd6;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  margin-right: 16px;
  text-decoration: none;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.st-lnk .field--item a:hover::before {
  color: #004f91;
}
.st-lnk a {
  display: block;
  color: #333333;
  position: relative;
  padding: 0 0 0 35px;
}
.st-lnk a::before {
  content: "\f08e";
  display: inline-block;
  color: #9abbd6;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 2rem;
  margin-right: 16px;
  text-decoration: none;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.st-lnk a:hover::before {
  color: #004f91;
}
.st-lb--no_bd .field--label, .st-lb--no-bd .field--label {
  font-weight: 400;
}
.st-mlt .field--items > .field--item {
  margin-bottom: 16px;
  line-height: 1.2;
}
.st-mlt .field--items > .field--item:last-child {
  margin-bottom: 0;
}

.t-w--r {
  font-weight: 400;
}
.t-w--m {
  font-weight: 700;
}

.t-lh--n {
  line-height: normal;
}

.bg-c--garnet {
  background: #c1092d;
}
.bg-c--garnet .field--item {
  background: #c1092d;
}
.bg-c--orange {
  background: #eb752a;
}
.bg-c--orange .field--item {
  background: #eb752a;
}
.bg-c--purple {
  background: #962987;
}
.bg-c--purple .field--item {
  background: #962987;
}
.bg-c--turquoise {
  background: #00afae;
}
.bg-c--turquoise .field--item {
  background: #00afae;
}

.g-lb--up > .field--label, .g-lb--up > .field-group-title {
  text-transform: uppercase;
}
.g-lb--sz--17 .field--label,
.g-lb--sz--17 .field-group-title {
  font-size: 1.7rem;
}
.g-lb--sz--18 .field--label,
.g-lb--sz--18 .field-group-title {
  font-size: 1.8rem;
}
.g-lb--c--w .field--label,
.g-lb--c--w .field-group-title {
  color: #ffffff;
}
.g-lb--c--b .field--label,
.g-lb--c--b .field-group-title {
  color: #000000;
}
.g-lb--c--333 .field--label,
.g-lb--c--333 .field-group-title {
  color: #333333;
}
.g-lb--st-attach-reg .field--label, .g-lb--st-lnk-reg .field--label, .g-lb--st-tag--mlt-reg .field--label {
  margin: 0 0 8px 0;
  text-transform: none;
}

.lb-wg--no_bd .field--label {
  font-weight: 400;
}

.lb-cc {
  position: relative;
}
.lb-cc .field--label {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.lb-bg--corporate .field--label {
  background-color: rgba(0, 79, 145, 0.6);
}
.lb-zi-1 .field--label {
  z-index: 1;
}
.lb-p-10 .field--label {
  padding: 10px;
}
.lb-t-alg-c .field--label {
  text-align: center;
}
.lb-t-c-w .field--label {
  color: #ffffff;
}
.lb-t-up .field--label {
  text-transform: uppercase;
}

.a-cl--333 a {
  color: #333333;
}

.zi--1 {
  z-index: 1;
}

.dc-ln a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  width: 8px;
  height: 100%;
}

.pub_image img {
  width: 100%;
  border: 1px solid #eee;
}

.full-w img {
  width: 100%;
}

.simple-list {
  border-bottom: 1px solid #e3e3e3;
  padding-top: 24px;
  padding-bottom: 17px;
}
.simple-list:hover {
  background-color: #dde8f0;
}

.dc-ln-row .row {
  display: flex;
}
.dc-ln-row .row .dc-ln a::before {
  height: calc(100% + 24px + 17px);
  top: -24px;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-10-neg {
  margin-top: -10px;
}

.mt-20-neg {
  margin-top: -20px;
}

.mt-30-neg {
  margin-top: -30px;
}

.ml-12 {
  margin-left: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.pr {
  position: relative;
}

.field--name-field-source .field--label {
  margin: 0 6px 0 0;
}
.field--name-field-source .field--label:after {
  content: ":";
}

.label-dot .field--label {
  margin: 0 6px 0 0;
}
.label-dot .field--label:after {
  content: ":";
}

section#block-searchform {
  margin-right: 0;
  width: 625px;
  margin-top: -40px;
}

.rm-m {
  margin: 0;
}

.undrr-search.search-hide a.hide-search {
  display: none;
}

.undrr-search.search-hide a.show-search {
  display: block;
}

.undrr-search a.hide-search {
  display: block;
  background: #aa223e;
}

.undrr-search a.show-search,
.undrr-search a.hide-search {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  text-indent: -999999px;
  text-decoration: none;
  margin: 0 360px auto auto;
}

.undrr-search.search-hide form {
  display: none;
}

.undrr-search a.show-search:before,
.undrr-search a.hide-search:before {
  content: "\f002";
  color: #000000;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  text-indent: 0;
  text-align: center;
  font-size: 26px;
}

.mega-menu-search {
  padding: 10px 0 10px 0 !important;
}

.search-button {
  width: 40px;
  height: 40px;
  position: relative;
  text-decoration: none;
  background-color: #004f91;
  color: #ffffff;
  font-size: 16.5px;
}

.textbox {
  border: 1px solid #cccccc;
  background: #ffffff;
  -moz-box-shadow: inset 0 1px 3px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(51, 51, 51, 0.5);
  box-shadow: inset 0 1px 3px rgba(51, 51, 51, 0.5);
  width: 220px;
  height: 40px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #9a9a9a;
  padding: 0 5px;
  right: 40px;
}

.textbox:focus {
  color: #000000;
  outline-color: #6093bd;
  background: aliceblue;
}

.search-collapsed {
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.search-collapsed svg {
  font-size: 16.5px;
}

.menu-dib li {
  display: inline-block;
  margin: 0 -4px 0 0;
}
.menu-dib li a {
  padding: 10px 7px;
}
.menu-dib li.first a {
  padding-left: 0;
}
.menu-dib li.last a {
  padding-right: 0;
}
.menu-dib.first-item-thin li.first a {
  font-weight: 400 !important;
}

@media (min-width: 1200px) {
  .menu-dib ul li a {
    padding: 10px;
  }
}
@media (max-width: 1200px) {
  .textbox {
    width: 150px;
  }
}
@media (max-width: 992px) {
  .text-m-center {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .full-w img {
    width: 70%;
    margin: 0 auto;
  }
}
.mnm p {
  margin: 0 0 0px;
}

.toolbar-myaccount .block-custom-blocks .compact-menus,
.toolbar-navigation .block-custom-blocks .compact-menus {
  background: #333333;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  top: 58px;
  right: 0px;
  z-index: 999;
}

.toolbar-myaccount button,
.toolbar-navigation button {
  background: none;
  border: 0;
  text-indent: -999999px;
  font-size: 0px;
  font-size: 0rem;
  display: inline-flex;
  padding: 0;
}

.toolbar-navigation button::before {
  content: "\f00a";
}

.toolbar-myaccount button::before,
.toolbar-navigation button::before {
  font-family: "FontAwesome";
  font-size: 22px;
  font-size: 2.2rem;
  content: "\f00a";
  display: block;
  text-indent: 0;
  color: #ffffff;
}

.toolbar-navigation button {
  height: 30px;
  line-height: 30px;
}

.toolbar-myaccount .block-custom-blocks .compact-menus .compact-menu-wrappers,
.toolbar-navigation .block-custom-blocks .compact-menus .compact-menu-wrappers {
  padding: 20px 0 20px 70px;
  max-width: 560px;
}

.toolbar-myaccount .block-custom-blocks .compact-menus h2,
.toolbar-navigation .block-custom-blocks .compact-menus h2 {
  color: #f2f2f2;
  margin: 0 0 14px;
  padding: 0;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.toolbar-myaccount .block-custom-blocks .compact-menus ul,
.toolbar-navigation .block-custom-blocks .compact-menus ul {
  margin: 0 0 20px;
}

.toolbar-myaccount .block-custom-blocks .compact-menus ul li,
.toolbar-navigation .block-custom-blocks .compact-menus ul li {
  display: block;
  float: none;
  width: 100%;
}

.toolbar-myaccount .block-custom-blocks .compact-menus ul li a,
.toolbar-navigation .block-custom-blocks .compact-menus ul li a {
  color: #f2f2f2;
  padding: 0 0 5px;
  margin: 0;
  display: inline-block;
}

.toolbar-myaccount .block-custom-blocks .compact-menus ul li a:hover,
.toolbar-navigation .block-custom-blocks .compact-menus ul li a:hover {
  background: none;
}

.toolbar-navigation .toolbar-navigation-wrapper {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.country-flag img {
  max-width: 50px;
}

.ml-11 {
  margin-left: 11px;
}

.bc-gr img {
  border: 1px solid #eee;
}

.undrr-alert {
  padding: 8px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.undrr-alert-p {
  background-color: #cb6e82;
  padding: 11px;
  display: inline-flex;
  opacity: 0.7;
}
.undrr-alert-p svg,
.undrr-alert-p i {
  font-size: 18px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

@media (max-width: 992px) and (min-width: 768px) {
  .padding-l {
    padding-left: 0px;
  }
  .padding-r {
    padding-right: 0px;
  }
}
.flickr-photos {
  -webkit-column-count: 1;
  -khtml-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 25px;
  -khtml-column-gap: 25px;
  -moz-column-gap: 25px;
  -ms-column-gap: 25px;
  -o-column-gap: 25px;
  column-gap: 25px;
}

.flickr-photo {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  border: solid 1px #e6e6e6;
  float: none;
  max-width: initial !important;
  width: 100%;
}

.flickr-photo img {
  max-width: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
  .flickr-photos {
    -webkit-column-count: 2;
    -khtml-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 25px;
    -khtml-column-gap: 25px;
    -moz-column-gap: 25px;
    -ms-column-gap: 25px;
    -o-column-gap: 25px;
    column-gap: 25px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .flickr-photos {
    -webkit-column-count: 3;
    -khtml-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 25px;
    -khtml-column-gap: 25px;
    -moz-column-gap: 25px;
    -ms-column-gap: 25px;
    -o-column-gap: 25px;
    column-gap: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .flickr-photos {
    -webkit-column-count: 4;
    -khtml-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 25px;
    -khtml-column-gap: 25px;
    -moz-column-gap: 25px;
    -ms-column-gap: 25px;
    -o-column-gap: 25px;
    column-gap: 25px;
  }
}
.page-node-type-news .field--name-body p img {
  margin-right: 25px;
}
.page-node-type-news .field--name-body figure img {
  width: 100%;
}

