/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
.edit-post-visual-editor__content-area .btn {
  border: 1px solid transparent;
  border-radius: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
}
.edit-post-visual-editor__content-area .btn[disabled] {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
}
.edit-post-visual-editor__content-area .label {
  border-radius: 0.25em;
  display: inline;
  font-family: "Roboto Condensed";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 16px;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .edit-post-visual-editor__content-area .col-md-1 {
    width: 8.33333%;
  }
  .edit-post-visual-editor__content-area .col-md-1,
  .edit-post-visual-editor__content-area .col-md-10,
  .edit-post-visual-editor__content-area .col-md-11,
  .edit-post-visual-editor__content-area .col-md-12,
  .edit-post-visual-editor__content-area .col-md-2,
  .edit-post-visual-editor__content-area .col-md-3,
  .edit-post-visual-editor__content-area .col-md-4,
  .edit-post-visual-editor__content-area .col-md-5,
  .edit-post-visual-editor__content-area .col-md-6,
  .edit-post-visual-editor__content-area .col-md-7,
  .edit-post-visual-editor__content-area .col-md-8,
  .edit-post-visual-editor__content-area .col-md-9 {
    float: left;
  }
  .edit-post-visual-editor__content-area .col-md-10 {
    width: 83.33333%;
  }
  .edit-post-visual-editor__content-area .col-md-11 {
    width: 91.66667%;
  }
  .edit-post-visual-editor__content-area .col-md-12 {
    width: 100%;
  }
  .edit-post-visual-editor__content-area .col-md-2 {
    width: 16.66667%;
  }
  .edit-post-visual-editor__content-area .col-md-3 {
    width: 25%;
  }
  .edit-post-visual-editor__content-area .col-md-4 {
    width: 33.33333%;
  }
  .edit-post-visual-editor__content-area .col-md-5 {
    width: 41.66667%;
  }
  .edit-post-visual-editor__content-area .col-md-6 {
    width: 50%;
  }
  .edit-post-visual-editor__content-area .col-md-7 {
    width: 58.33333%;
  }
  .edit-post-visual-editor__content-area .col-md-8 {
    width: 66.66667%;
  }
  .edit-post-visual-editor__content-area .col-md-9 {
    width: 75%;
  }
}

.wp-block {
  background-color: rgba(139, 139, 150, 0.1);
}

.wp-block .wp-block {
  background: transparent;
}

.wp-block[data-editing=false] {
  padding: 0;
}

.wp-block[data-editing=true] {
  background-size: 0px 0px;
}

.wp-block[data-editing=false][data-loading=true] {
  min-height: 100px;
}

.wp-block[data-editing=false][data-loading=false] {
  background: transparent;
  min-height: 0;
}

.wp-block > .components-spinner {
  display: block;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.wp-block--placeholder {
  background: transparent;
}

.wp-block__iframe,
.wp-block__view .components-sandbox {
  border: 0;
  display: block;
  height: 30px;
  margin: 0;
  min-width: 100%;
  pointer-events: none;
}

.wp-block .editor-inner-blocks {
  margin-bottom: 16px;
}

.wp-block .editor-inner-blocks .wp-block__edit {
  padding: 0;
}

.wp-block .editor-url-input {
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.wp-block .editor-url-input.has-suggestions {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wp-block .editor-url-input:not(.has-suggestions) input[type=text] {
  max-width: none;
  width: 100%;
}

.wp-block .editor-url-input:not(.has-suggestions) .components-spinner {
  visibility: hidden;
}

.wp-block .editor-url-input input[type=text] {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wp-block .editor-url-input:focus-within {
  border: 1px solid #007cba;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #007cba;
  box-shadow: 0 0 0 1px #007cba;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.wp-block .components-base-control {
  margin-bottom: 16px;
}

.wp-block .components-base-control__label + .components-select-control__input {
  display: block;
}

.wp-block .components-datetime__date {
  border: 0;
  margin: 0;
}

.wp-block .components-toggle-control .components-form-toggle {
  margin-right: 10px;
}

.wp-block .components-form-toggle__on,
.wp-block .components-form-toggle__off {
  display: none;
}

.wp-block .components-toggle-control__label {
  line-height: 18px;
}

.wp-block .components-radio-control__option .components-base-control {
  margin-bottom: 0;
}

.wp-block .components-radio-control__option .components-base-control__field {
  margin-bottom: 0;
}

.wp-block .components-base-control__rich-text {
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 4px;
  padding: 6px 8px;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.wp-block .components-base-control__rich-text:focus-within {
  border-color: #007cba;
  -webkit-box-shadow: 0 0 0 1px #007cba;
  box-shadow: 0 0 0 1px #007cba;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.wp-block .components-base-control__rich-text .editor-rich-text__editable {
  margin: 0;
}

.components-vf-control .components-button-group {
  display: block;
}

.wp-block[data-type="undrr/undrr-tabs"] .vf-tabs__link {
  cursor: pointer;
}

.wp-block[data-type="undrr/undrr-tabs"] .vf-tabs__item .components-button {
  margin-top: 10px;
}

.wp-block[data-type="undrr/undrr-tabs"] .wp-block[data-type="undrr/undrr-tabs-section"] {
  outline: 1px dashed var(--vf-ui-color--grey);
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none;
}

.wp-block-embed-twitter .wp-block-embed__wrapper {
  overflow: visible;
  height: auto;
  padding: 0;
}

.editor-styles-wrapper .mg-card.mg-card__vc {
  display: unset;
}

/* BASIC COLORS */
.has-black-background-color {
  background-color: #000;
}

.has-black-color {
  color: #000;
}

.has-white-background-color {
  background-color: #fff;
}

.has-white-color {
  color: #fff;
}

/* UNDRR CORE COLORS */
.has-undrr-blue-background-color {
  background-color: #004f91;
}

.has-undrr-blue-color {
  color: #004f91;
}

.has-link-blue-background-color {
  background-color: #106cb8;
}

.has-link-blue-color {
  color: #106cb8;
}

.has-medium-blue-background-color {
  background-color: #6093db;
}

.has-medium-blue-color {
  color: #6093db;
}

.has-light-blue-background-color {
  background-color: #9abbd6;
}

.has-light-blue-color {
  color: #9abbd6;
}

.has-extra-light-blue-background-color {
  background-color: #dde8f0;
}

.has-extra-light-blue-color {
  color: #dde8f0;
}

/* GREY COLORS */
.has-undrr-almost-black-background-color {
  background-color: #333;
}

.has-undrr-almost-black-color {
  color: #333;
}

.has-undrr-dark-grey-background-color {
  background-color: #666;
}

.has-undrr-dark-grey-color {
  color: #666;
}

.has-undrr-medium-grey-1-background-color {
  background-color: #bababa;
}

.has-undrr-medium-grey-1-color {
  color: #bababa;
}

.has-undrr-medium-grey-2-background-color {
  background-color: #ccc;
}

.has-undrr-medium-grey-2-color {
  color: #ccc;
}

.has-undrr-medium-grey-3-background-color {
  background-color: #e3e3e3;
}

.has-undrr-medium-grey-3-color {
  color: #e3e3e3;
}

.has-undrr-light-grey-background-color {
  background-color: #f2f2f2;
}

.has-undrr-light-grey-color {
  color: #f2f2f2;
}

/* ACCENT COLORS */
.has-undrr-accent-color-1-background-color {
  background-color: #f4e496;
}

.has-undrr-accent-color-1-color {
  color: #f4e496;
}

.has-undrr-accent-color-2-background-color {
  background-color: #d3cea9;
}

.has-undrr-accent-color-2-color {
  color: #d3cea9;
}

.has-undrr-accent-color-3-background-color {
  background-color: #faf6d9;
}

.has-undrr-accent-color-3-color {
  color: #faf6d9;
}

.has-undrr-accent-color-4-background-color {
  background-color: #0a6969;
}

.has-undrr-accent-color-4-color {
  color: #0a6969;
}

/* SENDAI FRAMEWORK COLORS */
.has-undrr-sendai-red-background-color {
  background-color: #c10920;
}

.has-undrr-sendai-red-color {
  color: #c10920;
}

.has-undrr-sendai-orange-background-color {
  background-color: #eb752a;
}

.has-undrr-sendai-orange-color {
  color: #eb752a;
}

.has-undrr-sendai-purple-background-color {
  background-color: #962987;
}

.has-undrr-sendai-purple-color {
  color: #962987;
}

.has-undrr-sendai-turquoise-background-color {
  background-color: #00afae;
}

.has-undrr-sendai-turquoise-color {
  color: #00afae;
}

body .editor-styles-wrapper {
  font-family: "Roboto";
  line-height: unset;
}

body .wp-block {
  max-width: 1164px;
}

.editor-styles-wrapper .undrr-hero--inner .wp-block {
  margin-left: unset;
  width: 100%;
}

label {
  font-size: 1.4rem !important;
  text-transform: capitalize !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
}

fieldset:not(.fieldgroup) > legend {
  text-transform: capitalize !important;
}

.container {
  width: 100% !important;
}

.interface-interface-skeleton__sidebar {
  overflow-x: hidden !important;
}

.false {
  display: none;
}

.block-editor-block-list__layout.is-root-container {
  overflow: hidden !important;
}
.block-editor-block-list__layout.is-root-container .mg-hero__overlay {
  margin-left: 11em;
}

.gutenberg__editor .mg-card__title a::after {
  display: none;
}

body .editor-styles-wrapper .mg-u-sr-only {
  display: block;
  background: lightpink !important;
  position: relative;
  clip: unset;
  margin: unset;
  overflow: visible;
  width: unset;
  height: unset;
}
body .editor-styles-wrapper .mg-u-sr-only::before {
  content: "This block is for screen readers only";
  font-size: 14px;
  position: absolute;
  display: inline-block;
  top: -100%;
  font-style: italic;
  background: lightpink;
  height: 28px;
  line-height: 20px;
  padding: 5px;
}

#edit-moderation-state-0-state {
  font-size: unset;
}

/*# sourceMappingURL=edit.css.map */