.dp-il {
  display: inline;
}
.dp-bl {
  display: block;
}
.dp-ib {
  display: inline-block;
}
.dp-ib-c > div {
  display: inline-block;
}
.dp-if {
  display: inline-flex;
}
.dp-fl {
  display: flex;
}

.ps-ab {
  position: absolute;
}
.ps-rl {
  position: relative;
}

.pr {
  position: relative;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-40 {
  margin-right: 40px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-40 {
  margin-left: 40px;
}

.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}
.pr-40 {
  padding-right: 40px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-40 {
  padding-left: 40px;
}

.bg-c--bp {
  background-color: #01505e;
}
.bg-c--bs {
  background-color: #5e175d;
}
.bg-c--333 {
  background-color: #333333;
}
.bg-ps--cc {
  background-position: center center;
}
.bg-ps--tc {
  background-position: top center;
}
.bg-ps--cr {
  background-position: center right;
}
.bg-ps--cl {
  background-position: center left;
}

.w-100 {
  width: 100%;
}
.w-26 {
  width: 26%;
}
.w-vw--100 {
  width: 100vw;
}
.w-vw--75 {
  width: 75vw;
}
.w-vw--50 {
  width: 50vw;
}
.w-vw--25 {
  width: 25vw;
}

.t-sz--14 {
  font-size: 1.4rem;
}
.t-sz--15 {
  font-size: 1.5rem;
}
.t-sz--16 {
  font-size: 1.6rem;
}
.t-sz--17 {
  font-size: 1.7rem;
}
.t-sz--18 {
  font-size: 1.8rem;
}
.t-sz--19 {
  font-size: 1.9rem;
}
.t-sz--20 {
  font-size: 2rem;
}
.t-sz--21 {
  font-size: 2.1rem;
}
.t-sz--22 {
  font-size: 2.2rem;
}
.t-sz--23 {
  font-size: 2.3rem;
}
.t-sz--24 {
  font-size: 2.4rem;
}
.t-sz--25 {
  font-size: 2.5rem;
}
.t-sz--26 {
  font-size: 2.6rem;
}
.t-sz--27 {
  font-size: 2.7rem;
}
.t-sz--28 {
  font-size: 2.8rem;
}
.t-sz--29 {
  font-size: 2.9rem;
}
.t-c--w {
  color: white;
}
.t-c--b {
  color: black;
}
.t-c--bp {
  color: #01505e;
}
.t-c--bs {
  color: #5e175d;
}
.t-c--tc {
  color: #1a1a1a;
}
.t-c--333 {
  color: #333333;
}
.t-wg--lg {
  font-weight: 300;
}
.t-wg--rg {
  font-weight: 400;
}
.t-wg--md {
  font-weight: 500;
}
.t-wg--sb {
  font-weight: 600;
}
.t-wg--bd {
  font-weight: 700;
}
.t-wg--exb {
  font-weight: 800;
}

.fl-show .field--label {
  vertical-align: top;
}

.fl-show .field--label::after {
  content: ":";
}

